.DS_Store
src/**/Test*

.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/illuminatedCloud.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.project
.settings/
ApexDocumentation
ApexDocumentation/**
ApexDocumentation/**/*
IlluminatedCloud/Live_Nation_Dev/OfflineSymbolTable.zip
Referenced Packages/
Referenced Packages/**/*
checkVersionControlResults
checkVersionControlResults/**/*
liveNationSFDC.iml
node_modules
resources/Grunt_SALESFORCE_CREDENTIALS.js
resources/LNE_CalendarAnythingPaulCSS.css
resources/SALESFORCE_CREDENTIALS.js
resources/tmp
resources/tmp/
resources/tmp/**/*
salesforce.schema
src/applications/standard__AppLauncher.app
src/applications/standard__Chatter.app
src/applications/standard__Community.app
src/applications/standard__DataAssessment.app
src/applications/standard__Insights.app
src/applications/standard__LightningSales.app
src/applications/standard__LightningSalesConsole.app
src/applications/standard__LightningService.app
src/applications/standard__Marketing.app
src/applications/standard__Platform.app
src/applications/standard__Sales.app
src/applications/standard__Service.app
src/applications/standard__ServiceConsole.app
src/approvalProcesses/AdPlan__c.Test_Approval.approvalProcess
src/classes/LNE_PromoterCreateEventPaul_CX.cls*
src/classes/LNE_TestCreateObjectPlaceholder_CX.cls*
src/classes/LNE_TestLightningComm_C.cls*
src/classes/LNE_TestLightningSubtabComChild_C.cls*
src/flexipages/Test_Paul_Object_Record_Detail.flexipage
src/groups/LNE_Test_3_Booking_And_Catering.group
src/groups/LNE_Test_Group_1_Chicago_Booking.group
src/groups/LNE_Test_Group_2_Los_Angeles_Booking.group
src/groups/Las_Vegas_TestDom_Booking.group
src/lastRefresh.xml
src/layouts/TEST_EventNotification__c-Test Event Notification Layout.layout
src/layouts/Test_Paul_Object__c-Test Paul Object Layout.layout
src/objectTranslations/*.objectTranslation
src/objectTranslations/TEST_EventNotification__c-en_US.objectTranslation
src/objectTranslations/Test_Paul_Object__c-en_US.objectTranslation
src/objects/Idea.object
src/objects/TEST_EventNotification__c.object
src/objects/Test_Paul_Object__c.object
src/pages/LNE_CalendarTabPaul.page
src/pages/LNE_CalendarTabPaul.page-meta.xml
src/pages/LNE_PromoterCreateEventPaul.page*
src/pages/LNE_ResourceFix.page*
src/pages/LNE_TestCreateObjectPlaceholder.page*
src/pages/LNE_TestLightningComm.page*
src/pages/LNE_TestLightningSubtab*
src/pages/TEST_StreamingApiDemo.page*
src/quickActions/SendEmail.quickAction
src/settings/LeadConvert.settings
src/settings/OrgPreference.settings
src/settings/PersonalJourney.settings
src/settings/Search.settings
src/settings/Security.settings
src/staticresources/LNE_CalendarAnythingPaulCSS.resource
src/staticresources/LNE_CalendarAnythingPaulCSS.resource-meta.xml
src/staticresources/gbc_ancillaryrevenuesnewrecordv1*
src/staticresources/gbc_artistdealde330_js.resource*
src/staticresources/gbc_gbissue27_js.resource*
src/staticresources/gbc_gbtest_js.resource*
src/staticresources/romelds.resource-meta.xml
src/tabs/LedgerEntry__c.tab
src/tabs/TicketScale__c.tab
src/workflows/EventRecapLineItem__c.workflow
src/workflows/EventRecap__c.workflow
src/workflows/Notification__c.workflow
src/workflows/PromoPromoScale__c.workflow
src/workflows/PromoScale__c.workflow
src/workflows/Promotions__c.workflow
src/workflows/Question.workflow
src/workflows/Reply.workflow
src/workflows/TEST_EventNotification__c.workflow
src/workflows/TEST_EventNotification__c.workflow
src/workflows/Test_Paul_Object__c.workflow
src/workflows/Test_Paul_Object__c.workflow
wave/**/rest_*.json
