/*
//Filename:grunt_src/lib/common.css
//-- #	#	#	#	#	#	#	#	#	#	#	#	#	#	#	#	#	#	#
*/
.disabled {
	background-color: #BBB;
}

.fe-injected-validation,
.fe-cannot-save {
	border: 2px solid red;
	color: red;
	margin: 8px;
	padding: 8px;
}

.fe-injected-validation .error,
.fe-cannot-save .error {
	color: red;
	margin-left: 16px;
} 

.fe-injected-validation.hide,
.fe-cannot-save.hide {
	display: none;
}

.fe-injected-validation.show,
.fe-cannot-save.show {
	display: block;
}
/*
//Filename:grunt_src/promotionsgrid.css
//-- #	#	#	#	#	#	#	#	#	#	#	#	#	#	#	#	#	#	#
*/
/* get rid of those number spinners */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.cr .crDataContainer.firstChildGrid .branch .childTable,
.branch .toggleData{
    display:none;
}

.childData{
    display:block;
}

#pScaleTable{
    margin-bottom:20px;
    display:none;
}

#pScaleTable th, #pScaleTable td, .promoPromoScaleTable th, .promoPromoScaleTable td{
    padding:5px;
}

#pScaleTable .price,
.promoPromoScaleTable .price input,
.promoPromoScaleTable .numTickets input
{
    text-align:right;
}

.pScaleHeader{
    margin-left: 5px;
    font-weight: normal;
    font-family: 'Salesforce Sans',Arial,sans-serif;
    font-size: 1.3em;
    color: #16325C;
}

.gridTitle .toggle{
    margin-left: 5px;
    font-size: 12px;
    color: #0070d2!important;
    cursor: pointer;
}