.DS_Store
output
output/
output/*

build.properties

/docs
/docs/
/docs/*

/deploy
/deploy/
/deploy/*

/.arc/

/force/src/lastRefresh.xml

/tmp
/tmp/
/tmp/*
deploy_*

force
force/
force/*

resources
resources/
resources/*

packageLists
packageLists/
packageLists/*

build.properties.*
ignore_*
deploy*
/code
/SfApexDocLog.txt

/output2/

/build.environment

/build.credentials

/build.autodeploy
auto_*

doc_*

/autoDoc.zip

_deploy*

/phabricator/build.phabricator
autoDoc*.zip
