#List of credentials for both retrieval and deploy.
#The format is as follows:
[[Environment Name]].username=
[[Environment Name]].password=
[[Environment Name]].serverurl=
[[Environment Name]].maxPoll=
#ex:
#dev.username=user@salesforce.com

